*{
    padding: 0%;
    margin: 0%;
    font-family: Arial;
}

body{
    background: white;
}

.header {
    width: 100%;
    height: 60;
    background-color: green;
    
}

.titel{
    font-size: 40;
    width: 150;
    float:left;
    color: white;
    margin: 10;
    padding: 0;
    height: 70%;


}
.tags {
    width: 50%;
    height: 50;

    padding: auto, 0;
    background-color: black;
    float:left
}

.knoppen {

    font-size: 20;
    width: 50;
    float:left;
    margin: 3vb
}

.nummer {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.main_body{
    margin: 30 50;
    height: 200;
    font-size: 20;
    font-weight: bold;
    border: 1px solid black;
}
